- name: kubectl apply dashboard
  command: kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml

- name: copy manifests
  copy:
    src: "{{ role_path }}/files/manifests/"
    dest: "/home/ubuntu/manifests/"

- name: kubectl apply nginx-ingress-controller
  command: kubectl apply -f /home/ubuntu/manifests/nginx-ingress-controller.yaml

- name: kubectl apply admin-user for dashboard
  command: kubectl apply -f /home/ubuntu/manifests/admin-user.yaml

- name: Clone metrics server
  git:
    repo: 'https://github.com/kubernetes-incubator/metrics-server.git'
    dest: "/home/ubuntu/metrics-server"
    version: v0.3.2
  when: EMP_ENABLED is defined


- name: Copy metrics deployment
  copy:
    src: "{{ role_path }}/files/manifests/metrics-server-deployment.yaml"
    dest: "/home/ubuntu/metrics-server/deploy/1.8+/metrics-server-deployment.yaml"
  when: EMP_ENABLED is defined

- name: kubectl create metrics-server
  command: kubectl create -f /home/ubuntu/metrics-server/deploy/1.8+/
  when: EMP_ENABLED is defined


- name: Start emp sentinel
  become: True
  when: EMP_ENABLED is defined
  docker_container:
    name: k8s-agent
    image: elastest/emp-k8s-agent:latest
    volumes:
      - /etc/kubernetes/pki/:/root/.kube/
    env:
      host: "{{ EMP_ENDPOINT }}"
      port: "{{ EMP_PORT }}"
      topic: "{{ EMP_TOPIC }}"
      series: "{{ EMP_SERIES }}"
      clientid: sentinel-k8s-client
      periodicity: 30
      clustername: kubernetes
      clusterserver: "https://{{ master_ip }}:6443"
      clusterca: ca.crt
      contextname: kubernetes-admin@kubernetes
      contextcluster: kubernetes
      contextuser: kubernetes-admin
      currentcontext: kubernetes-admin@kubernetes
      username: kubernetes-admin
      userclientcertificate: apiserver-kubelet-client.crt
      userclientkey: apiserver-kubelet-client.key
      configpath: /tmp/kube_config


- name: copy syncconfig.yaml
  become: true
  copy:
   src: "{{ role_path }}/files/syncconfig.yaml"
   dest: "/etc/kubernetes/syncconfig.yaml"

# Service Account

- name: create service account
  command: kubectl create serviceaccount api-service-account

- name: rbac binding to account
  command: kubectl create -f /home/ubuntu/manifests/api-access-role-binding.yaml

- name: install jq
  become: true
  apt:
    name: "jq"
    state: present
    update_cache: yes

- name: get secret json
  become: True
  become_user: ubuntu
  raw: kubectl get serviceaccount api-service-account -o json | jq -Mr .secrets[].name
  register: secret

- debug: msg="{{ secret }}"

- name: get token
  become: True
  become_user: ubuntu
  raw: "kubectl get secrets {{secret.stdout_lines[0]}} -o json | jq -Mr '.data.token' | base64 -d"
  register: token

- debug: msg="{{ token.stdout }}"

- name: copy token
  become: True
  copy:
    content: "{{ token.stdout }}"
    dest: /token.txt

- name: Retrieve token configuration
  become: yes
  fetch:
    src: /token.txt
    dest: token
  when: state == 'present'
